In [15]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import load_diabetes
import numpy as np 
import pandas as pd 
import json

In [5]:
LinearRegression().__class__.__name__

'LinearRegression'

In [6]:
X, y = load_diabetes(return_X_y=True)

In [8]:
X_json = pd.DataFrame(X).to_json(orient='records')

In [9]:
y_json = pd.Series(y).to_json(orient='records')

In [16]:
pd.DataFrame.from_records(json.loads(X_json))

,0,1,2,3,4,5,6,7,8,9
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

In [29]:
pd.read_json(y_json, orient='records', typ='series')

0      151
1       75
2      141
3      206
4      135
      ...
437    178
438    104
439    132
440    220
441     57
Length: 442, dtype: int64

In [33]:
pd.DataFrame.from_records([{'col1': 'zzz', 'col2': 'zzz'}, {'col1': 'yyy', 'col2': 'yyy'}])

  col1 col2
0  zzz  zzz
1  yyy  yyy

In [36]:
pd.Series([1]).values

array([1])

In [40]:
list(filter(lambda x: x!=1, [1,2,3]))

[2, 3]

In [43]:
from flask_restx import fields, marshal
import json

In [ ]:
train_fields = dict()
train_fields['hyperparameters'] = {'*': wild}
train_fields['X'] = fields.List(fields.Dict)
train_fields['y'] = fields.List(fields.Any)

data = {'name': 'bob', 'addr1': '123 fake street', 'addr2': '', 'city': 'New York', 'state': 'NY', 'zip': '10468'}
json.dumps(marshal(data, resource_fields))

In [106]:
wild = fields.Wildcard(fields.Raw)
wild_2 = fields.Wildcard(fields.Raw)
train_fields = {
    'hyperparameters': wild,
    'X': fields.List(fields.Raw),
    'y': fields.List(fields.Raw)
}

In [117]:
t = {'c1': 1, 'c2': 3}
wk = fields.Wildcard(fields.Raw)
tm = {'*' : wk}
json.dumps(marshal(t, tm))

'{"c2": 3, "c1": 1}'

In [123]:
wild = fields.Wildcard(fields.Raw)
train_fields = {
    'hyperparameters': wild,
    'X': fields.List(fields.Raw),
    'y': fields.List(fields.Raw)
}

In [122]:
json.dumps(marshal(data, train_fields))

'{"hyperparameters": {}, "X": [{"c1": 1, "c2": 3}, {"c1": 0, "c2": 13}, {"c1": -3, "c2": 3.5}], "y": [1, 2, 3]}'

In [128]:
p = ('de''DeprecationWarning')
p

'deDeprecationWarning'

In [3]:
{'1' : 1, '2' : 2} + {'23' : 23}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'